:root {
  --accent: #fc3a0f;
  --max-width: 1400px;
  --gap: 32px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #111;
  background: #fff;
  overflow-y: auto;
  --max-width: 1200px;
}

.logo-img {
  width: 3rem;
  height: 3.5rem;
}

.nav {
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: 2fr 2.5fr 0.5fr;
  align-items: center;
  position: relative;
  z-index: 9999;
  margin: 20px auto;
  padding: 0;
  box-sizing: border-box;
}
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fdfdfd;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.donate {
  background: var(--accent);
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 1rem 14px;
  font-weight: 500;
  border-radius: 6px;
}

.menu-btn {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  display: none;
}

/* left */
.left {
  z-index: 800;
  margin-top: 13rem;
  width: 100%;
  margin-left: 1.2rem;
}

.title {
  font-family: sans-serif;
  font-weight: 900;
  font-style: bold;
  font-size: 55px;
  line-height: 85px;
  letter-spacing: 0px;
}
.matter {
  background: var(--accent);
  color: #fff;
  padding: 0 11px;
  border-bottom-left-radius: 20px;
}
.sub {
  color: #444;
  max-width: 480px;
  font-size: 19px;
}
.join {
  background: #000;
  color: #fff;
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
  font-size: 19px;
  margin-top: 18px;
}

/* countdown */
.card {
  margin-top: 13rem;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}

.label {
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 800;
}

.card .date {
  color: red;
}

.date {
  text-align: right;
  font-size: 14px;
  padding-right: 1rem;
}

.time {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  margin-top: 1px;

  font-weight: 700;
  margin-left: 1rem;
  border-radius: 6px;
  color: var(--blue);
}

.day {
  background-color: #dfdfdf;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 10px;
  line-height: 18px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #000;
  justify-content: center;
  text-align: center;
}

.in {
  font-size: 10px;
  text-transform: uppercase;
  color: red;
  font-weight: 0;
}

.mash {
  display: block;
  gap: 0;
  line-height: 10px;
  border-radius: 10px;
}

/* right - image with diagonal clip */

.hero {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
  overflow: hidden;
  margin-top: -12rem;
  margin-right: -6rem;
}
.right {
  height: 115%;
  width: 155%;
  border-radius: 100px;
  transform: rotate(-29deg);
  margin-top: -22rem;
  object-fit: cover;
  overflow: hidden;
}

.IMG {
  transform: rotate(42deg);
  height: 75rem;
  margin-top: -3.4rem;
  width: 100%;
  object-fit: cover;
  margin-left: -17rem;
  position: relative;
}
.events-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
  max-width: var(--max-width);
  margin: 40px auto;
  box-sizing: border-box;
}

h2 {
  font-size: 40px;
  margin: 0 0 12px;
}

.lorem-1 {
  color: #666;
  max-width: 420px;
  font-size: 14px;
}

.carret {
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: #000;
}

.carret-2 {
  width: 40px;
  height: 40px;
  font-size: 25px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fff;
}

.card-grid {
  max-width: 1200px;
  margin: 10rem auto 48px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1.1fr 1.1fr;
  gap: 3.5rem;
}

.img-div {
  overflow: hidden;
  margin-top: 0;
  border-radius: 6px;
  position: relative;
  background: transparent;
  margin-top: 3rem;
}

.card1-img {
  width: 100%;
  margin-top: -5rem;
  margin-bottom: -3.5rem;
}

.event-card-2 {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.card2-img {
  width: 100%;
  height: 305px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  background-color: #000;
  padding: 1.5rem 2rem;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-top {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.card-meta {
  padding-top: 0.3rem;
  font-size: 15px;
  line-height: 20px;
  color: #b4b4b4;
  display: flex;
  flex-direction: column;
}

.card-meta p {
  display: flex;
  margin: 0;
  align-items: center;
}

.dash {
  color: red;
}

.price {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
}

.join {
  background-color: #323232;
  padding: 0.5rem 2rem;
  font-size: 14px;
  margin-top: 0.5rem;
  border-radius: 18px;
}
.container {
  max-width: 1200px;
  margin: 1rem auto 48px;
  padding: 0 20px;
}
.stats-section {
  max-width: 1200px;
  margin: 40px auto;
  padding: 60px;
  background: #0b0b0b;
  border-radius: 12px;
  color: #fff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.ride {
  font-size: 44px;
  margin: 0 0 12px;
  font-weight: 0;
}
.ride-p {
  color: #bbb;
  max-width: 520px;
  font-size: 13.5px;
}

.join-2 {
  margin-top: 2.5rem;
  background: #fff;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  padding: 1.2rem 2.3rem;
  border-radius: 8px;
  border: none;
}

.together {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.memb {
  display: flex;
  gap: 0.2rem;
  margin-top: -0.05rem;
}

.memb p {
  background-color: #626262;
  border-radius: 8px;
  height: 100%;
  margin: 0rem;
  font-size: 32px;
  font-weight: 600;
}

.plus {
  padding: 1.6rem 1.5rem;
}

.plus-1 {
  padding: 1.6rem 3rem;
}

.plus-2 {
  padding: 1.6rem 2rem;
}

.trail {
  padding: 1.6rem 4.1rem;
}

.trail-1 {
  padding: 1.6rem 1.5rem;
}

.trail-2 {
  padding: 1.6rem 5rem;
}

.bike {
  text-align: right;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  margin-top: 6rem;
}

.carrets {
  text-align: right;
}

.lorem-2 {
  font-size: 12px;
}

.img-div2 {
  overflow: hidden;
  border-radius: 6px;
  /* align-items: right;
  justify-content: right;
  text-align: right; */
}
.card3-img {
  width: 100%;
  height: 320px;
  margin-top: -4.5rem;
  margin-bottom: -5rem;
  border-radius: 65px;
}

.game {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  z-index: 1;

  margin: -0.15rem -0.17rem;
  background: linear-gradient transparent, black;
}

.changer {
  z-index: 9999;
  padding: 0 2rem;
  margin-top: -12rem;
  color: #fff;
  font-size: 17.5px;
  font-weight: 450;
}

.changer-1 {
  z-index: 9999;
  padding: 0 2rem;
  margin-top: -7rem;
  color: #fff;
  font-size: 17.5px;
  font-weight: 450;
}

.more {
  font-size: 20px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 5px;
  border: 0 transparent;
}

.event-card-2 {
  overflow: hidden;
}

.card-grid-2 {
  max-width: 1200px;
  margin: 0rem auto 48px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 0.8fr;
  gap: 3.5rem;
  overflow: hidden;
}

.top-left {
  width: 9rem;
  height: 7rem;
  border-radius: 12px;
}

.check {
  background-color: #0b0b0b;
  border-radius: 12px;
  color: #fff;
}

.inner {
  display: grid;
  grid-template-columns: 0.1fr 3fr 0.1fr;
  gap: 0;
}

.card-grid-3 {
  max-width: 1200px;
  margin: 0rem auto 48px;
  padding: 0 200px;
}

.check {
  text-align: center;
}

h4 {
  font-size: 45px;
  margin-bottom: 0;
  margin: 0;
}

.check-p {
  font-size: 16px;
}

.stats-section-3 {
  margin: 40px auto;
  padding: 60px;
  border-radius: 12px;
  background-image: url(image/4f94dda2d246dc93dac64602652a538788238275.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.thumb {
  width: 10rem;
  height: 11rem;
  margin-right: -5rem;
  margin-top: -4rem;
}

.thumb-2 {
  width: 10rem;
  height: 10rem;
  margin-left: -5rem;
  margin-bottom: -29rem;
  border: 4px solid #f5f5f5;
}

.tops {
  z-index: 9999;
}
.check {
  background-color: #0b0b0b;
  padding: 5rem 3rem;
  z-index: 1;
}

.outer {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  padding: 4rem 2rem;
}

.footer {
  background-color: black;
  margin-bottom: 0;
}

.stats-section-4 {
  max-width: 1200px;
  padding: 60px 0;
  border-radius: 12px;
  color: #fff;
  padding-bottom: 0;
  text-align: center;
  justify-content: center;
}

.footer-img {
  width: 6%;
  height: 40%;
}

.bottom {
  max-width: var(--max-width);
  margin: 20px auto;
  margin-bottom: 0;
  padding: 40px;
  gap: 0;
  align-items: center;
  position: relative;
}

.social {
  margin: 3.5rem 0;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

@media (max-width: 1200px) {
  .title {
    font-size: 52px;
  }

  .left {
    padding-left: 2.5rem;
    box-sizing: content-box;
  }

  .label {
    font-size: 15px;
  }

  .date {
    padding: 0;
  }

  .nav {
    padding: 0 1rem;
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 42px;
  }

  .nav-links {
    font-size: 17px;
    gap: 1.5rem;
  }

  .left {
    padding-left: 2.5rem;
    box-sizing: content-box;
  }

  .label {
    font-size: 17px;
  }

  .img {
    width: 52rem;
    margin-top: 5rem;
    margin-right: 13rem;
  }

  .donate {
    padding: 0.8rem 12px;
  }

  .hero {
    gap: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .sub {
    font-size: 16px;
  }

  .right {
    width: 50rem;
  }
  .card {
    padding: 0;
    grid-template-columns: 0.9fr 1.5fr;
    margin-right: -5rem;
    margin-top: 4.5rem;
  }

  .card-grid {
    gap: 2.5rem;
  }

  .img-div {
    margin-top: 5rem;
  }

  .card-body {
    padding: 1.2rem 1.5rem;
  }

  .lorem-1 {
    font-size: 13px;
  }

  .card-meta p {
    font-size: 14px;
    line-height: 0.5px;
  }

  .card1-img {
    margin: -3.9rem 0;
    padding: 0;
  }

  .stats-section {
    padding: 40px;
  }

  .card-grid-2 {
    gap: 2rem;
  }

  .game {
    margin: -0.1rem;
  }

  .changer-1 {
    font-size: 16px;
  }

  .changer-p {
    font-size: 16px;
  }

  .changer {
    margin-bottom: 0;
  }

  .more {
    padding: 0.3rem 0.7rem;
    font-size: 16px;
  }

  .lorem-2 {
    font-size: 10px;
  }

  .check-p {
    font-size: 13.5px;
  }

  .check {
    padding: 4rem 2rem;
  }

  .thumb {
    height: 9rem;
    width: 9rem;
  }

  .thumb-2 {
    width: 8rem;
    height: 8rem;
    margin-bottom: -25rem;
  }

  .stats-section-4 p {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .hero-big {
    background-image: url(image/hero.jpg);
    background-size: cover;
    background-position-y: 42rem;
  }

  .title {
    font-size: 50px;
  }

  .nav-links {
    font-size: 15px;
    gap: 1.5rem;
    color: #000;
    display: none;
  }

  .left {
    box-sizing: content-box;
    padding: 0;
    background-color: transparent;
    text-align: center;
    margin: 0;
    padding: 1.5rem 0.1rem;
  }

  .join {
    margin-top: 1rem;
  }

  .label {
    font-size: 17px;
  }

  .donate {
    display: none;
  }

  .hero {
    gap: 1rem;
    display: block;
    background-color: #f0f0f0dd;
    margin: 3rem 7rem;
    border-radius: 10px;
  }

  .sub {
    font-size: 16px;
    margin: 0 6rem;
    margin-top: -1rem;
    color: #252525;
  }

  .right {
    display: none;
    rotate: 0deg;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .img {
    rotate: calc(0deg);
    margin-top: -20rem;
    margin: 0;
    padding: 0;
    height: 30rem;
  }

  .card {
    padding: 0 8.3rem;
    display: grid;
    grid-template-columns: 0.9fr 1.5fr;
    margin-right: -5rem;
    margin-top: 4.5rem;
    text-align: center;
    align-items: center;
    background-color: transparent;
  }

  .day {
    background-color: #acacac;
  }

  .card-grid {
    gap: 1.7rem;
  }

  h2 {
    font-size: 30px;
  }

  .img-div {
    margin-top: 5rem;
  }

  .card-body {
    padding: 1.2rem 1.5rem;
  }

  .lorem-1 {
    font-size: 11px;
  }

  .card-meta p {
    font-size: 12px;
    line-height: 0.5px;
  }

  .card1-img {
    margin: -3.8rem 0;
    padding: 0;
  }

  .card2-img {
    height: 15rem;
  }

  .stats-section {
    padding: 40px;
  }

  .ride {
    font-size: 35px;
  }

  .ride-p {
    font-size: 11px;
  }

  .join-2 {
    padding: 0.8rem 2rem;
  }

  .plus,
  .trail,
  .trail-2,
  .plus-1,
  .plus-2,
  .trail-1 {
    padding: 1.3rem auto;
  }

  .memb p {
    font-size: 31.5px;
  }

  .card-grid-2 {
    gap: 1.3rem;
  }

  .game {
    margin: -0.1rem;
  }

  .changer-1 {
    font-size: 13px;
  }

  .changer-p {
    font-size: 13px;
  }

  .changer {
    margin-top: -8rem;
  }

  .more {
    padding: 0.3rem 0.7rem;
    font-size: 16px;
  }

  .lorem-2 {
    font-size: 9px;
  }

  .check-p {
    font-size: 11px;
  }

  .check {
    padding: 4rem 2rem;
  }

  .thumb {
    height: 9rem;
    width: 9rem;
  }

  .thumb-2 {
    width: 8rem;
    height: 8rem;
    margin-bottom: -25rem;
  }

  .stats-section-4 p {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .hero-big {
    background-image: url(image/hero.jpg);
    background-size: cover;
    background-position-y: 0;
  }

  .title {
    font-size: 30px;
    line-height: 3rem;
  }

  .nav-links {
    font-size: 15px;
    gap: 1.5rem;
    color: #000;
    display: none;
  }

  .left {
    box-sizing: content-box;
    padding: 0;
    background-color: transparent;
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
    padding: 1rem 0.1rem;
    box-shadow: 20px 20px 30px -10px rgba(0, 0, 0, 0.2);
  }

  .join {
    margin-top: 1rem;
  }

  .label {
    font-size: 17px;
  }

  .donate {
    display: none;
  }

  .hero {
    gap: 1rem;
    display: block;
    background-color: #f0f0f0dd;
    margin: 0 3rem;
    border-radius: 10px;
  }

  .sub {
    font-size: 12px;
    margin: 0 0.5rem;
    margin-top: -1rem;
    color: #252525;
  }

  .right {
    display: none;
    rotate: 0deg;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .img {
    rotate: calc(0deg);
    margin-top: -20rem;
    margin: 0;
    padding: 0;
    height: 30rem;
  }

  .card {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-top: 3rem;
    text-align: center;
    align-items: center;
    background-color: transparent;
  }

  .mash {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    margin-bottom: 1rem;
  }

  .date {
    text-align: center;
  }

  .day {
    background-color: #acacac;
  }

  .container {
    margin-top: -3rem;
  }

  .card-grid {
    gap: 1.7rem;
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 30px;
  }

  .img-div {
    margin-top: 2rem;
  }

  .card-body {
    padding: 1.2rem 1.5rem;
  }

  .lorem-1 {
    font-size: 13px;
  }

  .card-meta p {
    font-size: 13px;
    line-height: 0.5px;
  }

  .card1-img {
    padding: 0;
    width: 100%;
  }

  .carrets {
    text-align: left;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  .card2-img {
    height: 15rem;
  }

  .stats-section {
    padding: 28px;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
  }

  .ride {
    font-size: 33px;
  }

  .ride-p {
    font-size: 12px;
  }

  .join-2 {
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
  }

  .together {
    margin: 2rem 0;
  }

  .plus-1,
  .plus-2 {
    padding: 0.5rem 2rem;
  }

  .plus {
    padding: 0.5rem 1.7rem;
  }

  .trail-2 {
    padding: 0.5rem 4rem;
  }

  .trail {
    padding: 0.5rem 2.3rem;
  }

  .trail-1 {
    padding: 0.5rem;
  }

  .memb p {
    font-size: 25px;
  }

  .card-grid-2 {
    gap: 1.3rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }

  .event-card-2 {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .game {
    margin: 0;
    box-shadow: inset 0 -120px 80px -20px rgba(0, 0, 0, 0.945),
      inset 0 40px 60px -40px rgba(0, 0, 0, 0.18);
    width: 100%;
    height: 100%;
  }

  .changer-1 {
    font-size: 14.5px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 4rem;
  }

  .bike {
    margin: 0;
    height: auto;
    width: auto;
  }

  .more {
    align-items: center;
    margin: 0 6.1rem;
    margin-bottom: 1rem;
  }

  .card3-img {
    display: none;
  }

  .card-three {
    background-image: url(image/610aad5ee1e682aa8fe17f96be36d159c539c0bf.png);
    background-size: cover;
    background-position-y: -60px;
    margin-bottom: 2rem;
  }

  h3 {
    color: #fff;
  }

  .changer-p {
    font-size: 14.5px;
    text-align: center;
  }

  .changer {
    margin-top: -8rem;
  }

  .more {
    padding: 0.3rem 0.7rem;
    font-size: 14px;
  }

  .lorem-2 {
    color: white;
    font-size: 13px;
  }

  .bike {
    text-align: left;
    padding: 1rem;
  }

  .check-p {
    font-size: 13px;
  }

  .check {
    padding: 4rem 2rem;
    background-color: #0b0b0bd2;
  }

  .stats-section-3 {
    padding: 20px 10px;
  }

  .outer {
    display: block;
    padding: 0;
  }

  h4 {
    font-size: 35px;
  }

  .thumb {
    height: 6rem;
    width: 6rem;
    margin: 0 auto;
  }

  .thumb-2 {
    width: 6rem;
    height: 6rem;
    margin: 0;
    margin-top: 0.5rem;
  }

  .stats-section-4 p {
    font-size: 14px;
  }

  .menu-btn {
    display: block;
    position: absolute;
    right: 20px;
  }
}
